@CHARSET "UTF-8";

@import url("/assets/css/common.css");

html {
	
}

body {
	font-size: 75%;
	color: #222;
	background: #fff;
	font-family: Arial;
}

#header
{
	width:100%;
	height:30px;
	float:left;
}

#content, #footer
{
	float:left;
	clear:left;
}

#mainMenu
{
	float:right;
	width:900px;
	position:relative;
	z-index:100;
}

#mainMenu a
{
	float:left;
	margin:0 5px;
}

#mainMenu ul
{
	list-style: none;
}

#mainMenu ul a
{
	float:left;
}

#mainMenu .topMenu
{
	list-style: none;
	float:right;
	margin:0;
	padding:0;
	height:30px;
	width: auto !important;
}

#mainMenu .topMenu li
{
	float:left;
	clear:none;
	height:25px;
	line-height:25px;
	margin:0 5px !important;
	padding:0 7px !important;
	background: #222;
	border:solid 1px #555;
	border-radius:5px;
}

#mainMenu .topMenu li a
{
	color:#fff;
	text-decoration: none;
	font-weight: bold;
}

#mainMenu .subMenu
{
	display:none;
	float:left;
	clear:left;
	padding:0;
	width:auto;
	margin:0 !important;
}

#mainMenu .subMenu li
{
	float:left !important;
	clear:left !important;
	margin:0px 0 0 0 !important;
	width:120px;
	height:25px;
	line-height: 25px;
	background: #ccc;
}

#mainMenu .subMenu li:hover a, #mainMenu .subMenu li:hover
{
	color:#fff;
	background: #222;
}

#mainMenu .subMenu li a
{
	margin: 0 !important;
	color:#222;
}