@CHARSET "UTF-8";

body
{
	background: #222;
	font:14px Trebuchet MS;
}

label
{
	font-size: 14px;
	color: #222;
}

h1, h2, h3, h4, h5, h6 { color: #222; font-weight: normal; }

h1, h2, h3
{
	margin: 10px 0 20px 0;
}

h1
{
	font-size:24px;
}

h2,h3
{
	font-size:20px;
}



cufon
{
	margin-top:4px !important;
}

input[type=text], input[type=email], input[type=password], select
{
	width:150px;
	height:20px;
	padding:2px 4px;
	border:solid 1px #222;
	font-size: 13px;
	background: #fff;
	color:#222;
}

textarea
{
	padding:2px 4px;
	border:solid 1px #222;
	font-size: 13px;
	background: #fff;
	color:#222;
}

select
{
	width:160px;
	height:24px;
}

a
{
	text-decoration: underline;
	color:#222;
	font-size: 14px;
}

a:hover
{
	color: #888;
}

textarea
{
	padding:2px 4px;
	border:solid 1px #222;
	font-size: 13px;
}

#siteCentering
{
	width:960px;
	margin:0 auto;
}

#siteContentsOuter
{
	width:960px;
	float:left;
	background: #fff;
}

#headerOuter
{
	position:relative;
	width:940px;
	float:left;
	margin:0 0 10px 0;
	padding:0 10px;
	min-height: 100px;
}

#mainLogo
{
	float:left;
}

#searchFormOuter
{
	float:right;
}

#buttonSearch
{
	width:30px;
	height:26px;
	float:right;
}

#btnRegister
{
	float:right;
	margin-right: 15px;
}

#menuOuter
{
	float:right;
	clear:right;
	margin:20px 0 0 0;
}

#menuOuter a
{
	float:left;
	margin:0 0 0 10px;
}

#wholeContentsOuter
{
	width:940px;
	padding:0 10px;
	margin-bottom:20px;
	min-height:450px;
	float:left;
}

#leftBarOuter
{
	width:260px;
	float:left;
}

#rightBarOuter
{
	width: 260px;
	float:right;
}

#contentsOuter
{
	width:670px;
	float:left;
	margin-left:10px;
}

#contactFormList li
{
	margin:10px 0 0 0;
}

#contactFormList label
{
	width:100px;
	float:left;
}

#contactFormList input[type=text], #contactFormList input[type=email]
{
	width:200px;	
}

#contactFormList textarea
{
	width:350px;
	height:100px;
}

#contactLeft
{
	
	float:left;	
}

#contactRight
{
	width:210px;
	float:right;
}

/* BASKET **********************************/

#miniBasketList
{
	width:100%;
	float:left;
}

#miniBasketList li
{
	width:100%;
	float:left;
	clear:left;
	margin:5px 0 0 0;
}

#miniBasketList .name
{
	float:left;
	font-size:15px;
	color: #222;
}

#miniBasketList .cost
{
	float:right;
	margin:0 10px;
}

#miniBasketList .remove
{
	width:20px;
	height:20px;
	float:right;
}

#miniBasketList .remove .ui-icon
{
	margin:0 !important;
	position:relative;
	left:-2px;
	top: -1px;
}

#miniBasketList .totalCost
{
	float:right;
	clear:both;
	margin:10px 0 20px 0;
}


#miniBasketList .moveToBasket
{
	float:right;
	clear:both;
}


/*******************************************/

/* BANNERS *********************************/

#mainBannerOuter
{
	width:650px;
	height: 310px;
	float:left;
}

#mainBanner
{
	width:644px !important;
	height:294px !important;
	float:left;
	margin:3px !important;
}

/*******************************************/


/* SUBMENU ********************************/
.subMenuOuter
{
	width:100%;
	float:left;
	border:solid 1px #444;
	margin:0 0 10px 0;
}

.subMenuOuter .top
{
	width:240px;
	height:20px;
	line-height: 20px;
	padding:5px 10px;
	margin:0;
	font-size:18px;
	float:left;
	background: #444444;
	color:#fff;
}

.subMenuOuter .center
{
	width:240px;
	padding:5px 10px;
	float:left;
}

.subMenuOuter .linkList
{
	width:100%;
	margin:0;
	padding:0;
	float:left;
}

.subMenuOuter .linkList li
{
	width:100%;
	margin:0;
	float:left;
}

.subMenuOuter .linkList a
{
	text-decoration: none;
	color:#222;
}

.subMenuOuter .linkList a:hover
{
	text-decoration: none;
	color:#888;
}

.subMenuOuter .bottom
{
	width:100%;
	height:5px;
	float:left;
}

/***********************************************************/

/* LOGIN FORM **********************************************/

#loginFormOuter
{
	width:240px;
	float:left;
}

#loginFormOuter label
{
	width:80px;
	float:left;
	margin-top:10px;
}

#loginFormOuter input[type=text],input[type=email],input[type=password]
{
	width:150px;
	margin-top:10px;
}

#loginFormOuter button
{
	float:right;
	margin:13px 0;
}


#loginFormOuter .linksOuter
{
	width:140px;
	float:left;
	margin:10px 0;
	text-align: center;
}

#loginFormOuter .linksOuter a
{
	font-size: 12px;
}
	

/*************************************************************************************************************/

/* PRODUCT LISTS and ITEMS ***********************************************************************************/

.productsList
{
	float:left;
}

.productsList .productItem
{
	width:auto;
	text-align: center;
	float:left;
}

.productItem .labelDiscount
{
	width:100%;
	float:left;
}

.productItem .discountPercent, .productItem .discountCount, .productItem .discountText
{
	width:100%;
	float:left;
	height:20px;
}

.productItem .productLogoLink
{
	width:100%;
	float:left;
	text-align: center;
}


.productItem .productLogo
{
	border:none;
	display:inline;
}

.productItem .productName
{
	width:100%;
	float:left;
	font-size:15px;
	text-align: center;
}

.productItem .costsOuter
{
	width:100%;
	float:left;
	text-align: center;
}

.productItem .oldCost
{
	width:100%;
	float:left;
	position:relative;
	color:#666;
}


.productItem .cross
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:5;
	background: url(images/scratchImage.png) no-repeat center center;
}

.productItem .currentCost
{
	width:100%;
	float:left;
	font-size:17px;
	text-align: center;
	color: #222;
}

.productItem .btnAddToBasket
{
	display:block;
	clear:both;
	margin:0 auto;
}

.bigProductList .productItem
{
	width:209px;
	height: 290px;
}

.bigProductList .productLogo
{
	width:195px;
	height: 195px;
}

/**************************************************************************************************************/
/* PRODUCT DETAILS ********************************************************************************************/

#productDetailOuter
{
	width:650px;
	float:left;
}

#productDetailOuter h1
{
	font-size:20px;
	margin:10px 0 20px 0;
	padding:0;
}


#productPictureFilesOuter
{
	position:relative;
}

#productBigImageOuter
{
	float:left;
}

#productBigImage
{
	float:left;
}

#productInfoOuter
{
	float: left;
}

#productInfoOuter label
{
	width:100px;
	float:left;
	margin:0 0 5px 0;
}

#productInfoSelectList
{
	width:100%;
}

#productInfoSelectList li
{
	margin:0 0 5px 0;
	float:left;
	clear:left;
}

#productInfoSelectList li .productTitle 
{
	width: 100%;
	height: 24px;
	float: left;
	font-size: 1.5em;
	font-weight: normal;
	color: #000;
	line-height: 24px;
	margin: 1px 0 0 0;
}

#productInfoSelectList li .productCode 
{
	color: #999;
	font-size: 1.1em;
	margin-bottom: 15px;
}

/**************************************************************************************************************/
#footerOuter
{
	width:940px;
	height:150px;
	float:left;
	padding:0 10px;
}

#footerMenuOuter
{
	width:100%;
	float:left;
	margin:20px 0 0 0;
	font-size: 15px;
	text-align: center;
}

#footerMenuOuter a
{
	font-size:14px;
	color:#888;
	margin:0 5px;
}

#contractsMenuOuter
{
	width:100%;
	float:left;
	margin:20px 0 0 0;
	font-size: 15px;
	text-align: center;
}

#contractsMenuOuter a
{
	color:#888;
	margin:0 5px;
	font-size:12px;
}

#copyrightText
{
	color: #888;
	text-align: center;
}

/******/

.casContent
{
	float:right;
	padding:9px;
	margin-bottom: 10px;
	border: solid 1px;
	border-radius: 4px;
	border-color: #ebe3cf;
	width:650px;
}

.last
{
	margin-right:0 !important;
	border:none !important;
}

/* LOADER STYLES */

#blackoutBg
{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:10000;
	background:#000;
	opacity:0.5;
}

#loaderOuter
{
	padding:5px;
	background:#fff;
	border-radius:4px;
	font:13px Trebuchet MS;
	color:#222;
	text-align:center;
	display:inline;
	position:fixed;
	z-index:10001;
}

#loaderOuter img
{
	margin:5px;
}

/* BIG BASKET */
#productBigBasketOuter
{
	width:100%;
	float:left;
}

#productBigBasketOuter tbody a
{
	padding:0 10px !important; 
}

#divAlertPaymentgroup, #divAlertTransportation, #divAlertDeliveryAddress
{
	float:left;
	margin-top:20px;
}

#divAlertTransportation, #divAlertDeliveryAddress
{
	width:100% !important;
}


#productBigBasketOuter thead, #productBigBasketOuter tbody, #productBigBasketOuter tfoot
{
	width:650px;
	float:left;
}


#productBigBasketOuter tbody td
{
	float:left;
	clear:none;
	height:60px;
}

#productBigBasketOuter tbody tr
{
	width:100%;
	float:left;
	margin:5px 0;
}

#productBigBasketOuter .totalCostInfo
{
	margin-bottom:10px;
}

#productBigBasketOuter .totalCostInfo label
{
	text-align:right;
	color:#fff !important;
}

.sidebarProductList 
{
	width:100% !important;
	float:left;
}

.ui-accordion-header
{
	width:650px !important;
}

#productOrdersList
{
	
}