@CHARSET "UTF-8";

@import url("/portapp/assets/css/reset.css");
@import url("/portapp/assets/css/base.css");
@import url("/portapp/assets/css/common.css");

body
{
	margin:0;
	background: #fff;
}

input[type=text], input[type=password], input[type=email]
{
	background: #fff;
	border-color: #ccc;
}

#glowBg
{
	width:100%;
	height:100%;
	float:left;
	background: url(../images/glowBg.png) no-repeat center 108px;
}

#headerFullWidthOuter
{
	background: url(../images/headerBg.png) repeat-x;
	width:100%;
	float:left;
	position:relative;
	z-index:10;
}

#headerOuter
{
	margin:0 auto;
	float:none;
	height: 112px !important;
}

#menuOuter 
{
	float:right;
	margin: 40px 0 0 0;
}

#menuOuter a
{
	font:bold 19px Trebuchet MS;
	color: #ccc;
	padding:10px 15px;
	margin:0 5px;
}

#menuOuter a.selected
{
	background: #fff;
	color: #000;
}

#wholeContentsFullWidthOuter
{
	width:100%;
	float:left;
	position:relative;
	top:-4px;
	padding-bottom:30px;
	background: #fff;
}

#wholeContentsOuter
{
	margin: 10px auto;
	float:none;
}

#mainBannerOuter
{
	width:650px;
	height:312px;
	padding:0 !important;
	border-radius:0;
}

#mainBanner
{
	width:650px;
	height:312px;
}

.nivo-controlNav
{
	position:relative !absolute;
	padding:0 !important;
	margin:0 !important;
	bottom:0;
}

#footerFullWidthOuter
{
	width:100%;
	background: url(../images/footerBg.png) repeat-x;
	position:relative;
	top:-10px;
	z-index:10;
	float:left;
}

#footerOuter
{
	margin:0 auto;
	float:none;
	color: #444;
}

#footerMenuOuter
{
	margin-top:40px;
}

#footerOuter a, #copyrightText
{
	color: #222;
}

#footerLogo
{
	float:left;
	margin:20px 0 0 409px;
}

#loginFormOuter label
{
	height: 26px;
	line-height: 26px;
}

.subMenuOuter
{
	border:none;
}

.subMenuOuter .top
{
	background: #fff;
	color: #000;
	border:solid 1px #bbb;
	font-size: 15px;
}

.subMenuOuter .center
{
	font-weight: bold;
}

.casContent{
	border:none;
	padding:0;
	text-align: justify;
}

.sidebarProductList .productItem
{
	width:120px;
	height:195px;
	float:left;
}

.productItem .currentCost
{
	color: #f00 !important;
	font-size: 13px;
	font-weight: bold;
}

.bigProductList .productItem
{
	width: 201px;
	height:340px;
	float:left;
	margin:0 20px 20px 0;
	background: #fff;
	border: solid 1px #bbb !important;
}

.productItem .productLogo
{
	width:201px;
	height:270px;
	margin:0;
}

.productItem .labelDiscount, .bigProductList .btnAddToBasket
{
	display:none;
}

.productItem .oldCost
{
	color:#000 !important;
	text-decoration: line-through;
}

.productItem .productName
{
	color:#000;
	font-size: 14px;
	margin-top:5px;
	text-decoration: none;
}

.productItem .cross
{
	display:none;
}

.casContent
{
	float:left;
	font-size: 14px;
}

.subHeader
{
	color: #000;
	border-bottom: solid 1px #000;
	padding-bottom: 5px;
}

#productDetailInfoOuterPrice
{
	color: #f00;
	font-weight: bold;
}

#productDetailInfoOuterPrice span
{
	color:#000;
}

#productOrdersList
{
	float:left;
	margin:10px;
}