@CHARSET "UTF-8";

@import url("/assets/css/reset.css");
@import url("/assets/css/base.css");
@import url("/assets/css/common.css");

body
{
	margin:0;
	background: #f9f9f9;
}

input[type=text], input[type=password], input[type=email]
{
	background: #fff;
	border-color: #ccc;
	margin-top:0;
}

textarea
{
	width:200px;
	height:70px;
}

#glowBg
{
	width:100%;
	height:100%;
	float:left;
	/*background: url(../images/glowBg.png) no-repeat center 108px;*/
}

#headerFullWidthOuter
{
	background: url(../images/repeatBg.png);
	width:100%;
	float:left;
	position:relative;
	z-index:10;
	border-top: solid 40px #333;
	
	margin-bottom: 15px;
	border-bottom:solid 1px #000;
}

#headerOuter
{
	margin:0 auto;
	float:none;
	height: 52px !important;
}

#menuOuter 
{
	margin: 0 auto;
	float:none;
	text-align: center;
	position:relative; 
	top: -35px;
	width:100%;
	height:45px;
}

#menuOuter a
{
	font:bold 15px Trebuchet MS;
	color: #fff;
	padding:15px 15px;
	margin:0 5px;
	float:none !important;
}

#menuOuter a.selected
{
	background: #fff;
	color: #000;
}

#wholeContentsFullWidthOuter
{
	width:100%;
	float:left;
	position:relative;
	top:-4px;
	padding-bottom:30px;
	/*background: url(../images/repeatBg.png);*/
	background: #f9f9f9;
}

#wholeContentsOuter
{
	margin: 10px auto;
	float:none;
}

#mainLogo
{
	position:relative;
	left:300px;
	top:-25px;
}

#mainBannerOuter
{
	width:650px;
	height:337px;
	visibility:hidden;
	position:relative;
	overflow:hidden;
	padding:0 !important;
	border-radius:0;
}

#mainBanner
{
	width:650px;
	height:312px;
}

.nivo-controlNav
{
	position:relative !absolute;
	padding:0 !important;
	margin:0 !important;
	bottom:0;
}

#footerFullWidthOuter
{
	width:100%;
	background: url(../images/footerBg.png) repeat-x;
	position:relative;
	top:-10px;
	z-index:10;
	float:left;
}

#footerOuter
{
	margin:0 auto;
	float:none;
	color: #444;
}

#footerMenuOuter
{
	margin-top:40px;
}

#footerOuter a, #copyrightText
{
	color: #222;
}

#footerLogo
{
	float:left;
	margin:0 0 20px 317px;
}

.pageContent
{
	width:650px;
}

#loginFormOuter label
{
	height: 26px;
	line-height: 26px;
}

.subMenuOuter
{
	border:none;
}

.subMenuOuter .top
{
	background: #eee;
	color: #000;
	border-left:solid 5px #333;
	font-size: 13px;
}

.subMenuOuter .center, .subMenuOuter .center a
{
	text-decoration: none;
}

.casContent{
	border:none;
	padding:0;
	text-align: justify;
}

.sidebarProductList .productItem
{
	width:120px;
	height:195px;
	float:left;
}

.productItem .currentCost
{
	color: #fff !important;
	font-size: 15px;
}

.ui-tabs-nav, .ui-state-default
{
	background-image: none !important;
}

.bigProductList .productItem
{
	width: 201px;
	height:340px;
	float:left;
	margin:0 20px 20px 0;
	background: #333;
}

.productItem .productLogo
{
	width:201px;
	height:270px;
	margin:0;
}

.productItem .labelDiscount, .bigProductList .btnAddToBasket
{
	display:none;
}

.productItem .oldCost
{
	color:#999 !important;
	text-decoration: line-through;
}

.productItem .productName
{
	color:#fff;
	font-size: 14px;
	margin-top:5px;
	text-decoration: none;
}

.productItem .cross
{
	display:none;
}

.casContent
{
	float:left;
	font-size: 14px;
}

h1.subHeader, h3.subHeader
{
	width:650px !important;
}

.subHeader
{
	color: #000;
	border-bottom: solid 1px #000;
	padding-bottom: 5px;
}

#productDetailInfoOuterPrice
{
	color: #f00;
	font-weight: bold;
}

#productDetailInfoOuterPrice span
{
	color:#000;
}

.productOrdersList
{
	float:left;
	margin:10px;
}

.buttonSocial
{
	width:110px !important; 
	margin:50px 0 0 0 !important;
	float:left !important;
	clear:none !important;
}

.buttonWishlist {
	width: 100%;
	text-align: center;
	position:relative;
	top: 10px;
}

.buttonCompare {
	width: 100%;
	text-align: center;
	position:relative;
	top: 10px;
}

.ulform
{
	padding-left:0 !important;
}

#productDetailOuter, #productOrderList
{
	width:650px !important;
}

.treeList
{
	list-style: none;
}